.mstheme
{
	separator-image: url(sumhorsd.gif);
	list-image-1: url(sumbul1d.gif);
	list-image-2: url(sumbul2d.gif);
	list-image-3: url(sumbul3d.gif);
	nav-banner-image: url(sumbannd.gif);
	navbutton-horiz-normal: url(sumhbudd.gif);
	navbutton-horiz-hovered: url(sumhbudd.gif);
	navbutton-horiz-pushed: url(sumhbusd.gif);
	navbutton-vert-normal: url(sumvbudd.gif);
	navbutton-vert-hovered: url(sumvbudd.gif);
	navbutton-vert-pushed: url(sumvbusd.gif);
	navbutton-home-normal: url(sumhombd.gif);
	navbutton-home-hovered: url(sumhombd.gif);
	navbutton-home-pushed: url(sumhombd.gif);
	navbutton-next-normal: url(sumnexbd.gif);
	navbutton-next-hovered: url(sumnexbd.gif);
	navbutton-next-pushed: url(sumnexbd.gif);
	navbutton-prev-normal: url(sumprebd.gif);
	navbutton-prev-hovered: url(sumprebd.gif);
	navbutton-prev-pushed: url(sumprebd.gif);
	navbutton-up-normal: url(sumupbd.gif);
	navbutton-up-hovered: url(sumupbd.gif);
	navbutton-up-pushed: url(sumupbd.gif);
}
.mstheme-bannertxt
{
	font-family: Verdana, Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 102);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url(sumbul1d.gif);
}
ul ul
{
	list-style-image: url(sumbul2d.gif);
}
ul ul ul
{
	list-style-image: url(sumbul3d.gif);
}
