vti_encoding:SR|utf8-nl
vti_author:SR|Laura J. Pavola
vti_modifiedby:SR|TOSHIBA-USER\\jim
vti_timecreated:TR|06 Sep 2002 16:32:00 -0000
vti_timelastmodified:TR|02 Aug 2007 19:58:17 -0000
vti_extenderversion:SR|6.0.2.5516
vti_nexttolasttimemodified:TR|06 Sep 2002 16:32:00 -0000
vti_cacheddtm:TX|02 Aug 2007 19:58:17 -0000
vti_filesize:IR|1572
vti_cachedlinkinfo:VX|S|sumbanna.gif S|sumhorsa.gif S|sumbul1a.gif S|sumbul2a.gif S|sumbul3a.gif S|sumhbuda.gif S|sumhbuha.gif S|sumhbusa.gif S|sumvbuda.gif S|sumvbusa.gif S|sumvbuha.gif S|sumhomda.gif S|sumhomha.gif S|sumnexda.gif S|sumnexha.gif S|sumpreda.gif S|sumpreha.gif S|sumupda.gif S|sumupha.gif S|sumbul1a.gif S|sumbul2a.gif S|sumbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumbanna.gif FSUS|_themes/sumipntg/sumhorsa.gif FSUS|_themes/sumipntg/sumbul1a.gif FSUS|_themes/sumipntg/sumbul2a.gif FSUS|_themes/sumipntg/sumbul3a.gif FSUS|_themes/sumipntg/sumhbuda.gif FSUS|_themes/sumipntg/sumhbuha.gif FSUS|_themes/sumipntg/sumhbusa.gif FSUS|_themes/sumipntg/sumvbuda.gif FSUS|_themes/sumipntg/sumvbusa.gif FSUS|_themes/sumipntg/sumvbuha.gif FSUS|_themes/sumipntg/sumhomda.gif FSUS|_themes/sumipntg/sumhomha.gif FSUS|_themes/sumipntg/sumnexda.gif FSUS|_themes/sumipntg/sumnexha.gif FSUS|_themes/sumipntg/sumpreda.gif FSUS|_themes/sumipntg/sumpreha.gif FSUS|_themes/sumipntg/sumupda.gif FSUS|_themes/sumipntg/sumupha.gif FSUS|_themes/sumipntg/sumbul1a.gif FSUS|_themes/sumipntg/sumbul2a.gif FSUS|_themes/sumipntg/sumbul3a.gif
vti_backlinkinfo:VX|
