vti_encoding:SR|utf8-nl
vti_author:SR|Laura J. Pavola
vti_modifiedby:SR|TOSHIBA-USER\\jim
vti_timecreated:TR|06 Sep 2002 16:32:00 -0000
vti_timelastmodified:TR|02 Aug 2007 19:58:17 -0000
vti_extenderversion:SR|6.0.2.5516
vti_nexttolasttimemodified:TR|06 Sep 2002 16:32:00 -0000
vti_cacheddtm:TX|02 Aug 2007 19:58:17 -0000
vti_filesize:IR|1316
vti_cachedlinkinfo:VX|S|sumhorsd.gif S|sumbul1d.gif S|sumbul2d.gif S|sumbul3d.gif S|sumbannd.gif S|sumhbudd.gif S|sumhbusd.gif S|sumvbudd.gif S|sumvbusd.gif S|sumhombd.gif S|sumnexbd.gif S|sumprebd.gif S|sumupbd.gif S|sumbul1d.gif S|sumbul2d.gif S|sumbul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumhorsd.gif FSUS|_themes/sumipntg/sumbul1d.gif FSUS|_themes/sumipntg/sumbul2d.gif FSUS|_themes/sumipntg/sumbul3d.gif FSUS|_themes/sumipntg/sumbannd.gif FSUS|_themes/sumipntg/sumhbudd.gif FSUS|_themes/sumipntg/sumhbusd.gif FSUS|_themes/sumipntg/sumvbudd.gif FSUS|_themes/sumipntg/sumvbusd.gif FSUS|_themes/sumipntg/sumhombd.gif FSUS|_themes/sumipntg/sumnexbd.gif FSUS|_themes/sumipntg/sumprebd.gif FSUS|_themes/sumipntg/sumupbd.gif FSUS|_themes/sumipntg/sumbul1d.gif FSUS|_themes/sumipntg/sumbul2d.gif FSUS|_themes/sumipntg/sumbul3d.gif
vti_backlinkinfo:VX|
