vti_encoding:SR|utf8-nl
vti_author:SR|Laura J. Pavola
vti_modifiedby:SR|TOSHIBA-USER\\jim
vti_timecreated:TR|06 Sep 2002 16:32:01 -0000
vti_timelastmodified:TR|02 Aug 2007 19:58:20 -0000
vti_extenderversion:SR|6.0.2.5516
vti_nexttolasttimemodified:TR|06 Sep 2002 16:32:01 -0000
vti_cacheddtm:TX|02 Aug 2007 19:58:20 -0000
vti_filesize:IR|28181
vti_cachedlinkinfo:VX|S|sumglob.gif S|sumtextb.jpg S|sumbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumglob.gif FSUS|_themes/sumipntg/sumtextb.jpg FSUS|_themes/sumipntg/sumbul2d.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/dot.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/theme.css FSUS|_themes/sumipntg/blank.gif
vti_backlinkinfo:VX|_themes/sumipntg/theme.css
