<div class="pageTitle pageTitle--subProject">
	<div class="contentBlock">
		<h1><a href="BPP.htm">Seattle Black Panther Party History and Memory Project</a></h1>
		<div class="projectSubNavigation">
			<a href="BPP_interviews.htm">Video Oral Histories</a>
			<a href="BPP_photos.htm">Photos</a>
			<a href="BPP_news%20coverage.htm">News Coverage</a>
			<a href="BPP_hearings.htm">Congressional Hearings</a>
			<a href="BPP_documents.htm">BPP Bulletin</a>
			<a href="BPP_map.htm">Map</a>
			<a href="Panthers1_schaefer.htm">Chapter history</a>
		</div>
	</div>
</div>