<ul>
	<li><a href="about.html">About</a></li>
	<li><a href="/">Segregated Seattle</a></li>
	<li><a href="/">Seattle's Ethnic Press</a></li>
	<li><a href="/">Civil Rights Groups</a></li>
	<li><a href="/">Photo Collections</a></li>
	<li><a href="/">Maps</a></li>
	<li><a href="/">Films and Slide Shows</a></li>
	<li><a href="/">For Teachers</a></li>
	<li><a href="index.shtml">Video Oral Histories</a></li>
</ul>
<hr>
<h4>Special Sections</h4>
<ul>
	<li><a href="BPP.htm">Black Panther Party History and Memory Project</a></li>
	<li><a href="Cannery_intro.htm">Filipino Cannery Unionism</a></li>
	<li><a href="lqbtq_intro.htm">LGBTQ Activism in Seattle History Project</a></li>
	<li><a href="ucwa.htm">United Construction Workers Project</a></li>
	<li><a href="mecha_intro.htm">Chicano Movement in Washington State Project</a></li>
	<li><a href="aa_intro.htm">Asian American Movement</a></li>
	<li><a href="kkk_intro.htm">KKK in Washington State</a></li>
	<li><a href="CORE_intro.htm">CORE Campaigns 1960s</a></li>
	<li><a href="BSU_intro.htm">Black Student Union at UW</a></li>
	<li><a href="bham_intro.htm">1907 Bellingham Riots</a></li>
	<li><a href="farmwk_intro.htm">Farm Workers in Washington State Project</a></li>
	<li><a href="/labhist/strike">1919 General Strike Project</a></li>
</ul>
<hr>
<p>
	<a href="http://www.facebook.com/pages/Seattle-Civil-Rights-and-Labor-History-Project/126908547034">
		<i class="fab fa-facebook"></i>
		<span>Join Pacific Northwest Labor and Civil Rights Projects on Facebook</span>
	</a>
</p>