        <!-- Start Footer -->
        <div class="footer">
            <div class="contentBlock">
                <div class="grid">
                    <div class="w-1/3">
                        <a href="/civilr/copyright.htm">©2004-2018</a>
                        <br />
                        <a href="/civilr/copyright.htm">How to cite and copyright information</a>
                    </div>
                    <div class="w-1/3">
                        About project
                        <br>
                        Contact James Gregory
                    </div>
                    <div class="w-1/3">
                        Pacific Northwest Labor and Civil Rights Projects
                        <br>
                        University of Washington
                    </div>
                </div>
            </div>
        </div>
        {% block footerJs %}
            <script src="../_shared/js/global.js"></script>
        {% endblock %}
    </body>
</html>