@mixin onDesktop() {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin onMobile() {
  @media screen and (max-width: $mobile-breakpoint - 1) {
    @content;
  }
}

.hideOnMobile {
	@include onMobile() {
		display: none;
	}
}

.hideOnDesktop {
	@include onDesktop() {
		display: none;
	}
}

@mixin card() {
	padding: $spacing-normal;
	box-shadow: 0 3px 8px -3px rgba($color-foreground, .25);
	border-radius: 5px;
	border: 1px solid transparent;
	&:hover {
		border-color: rgba($color-foreground, .1);
	}
}