html {
  font-size: $font-size-base;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  @include onDesktop() {
    font-size: $font-size-base-desktop;
  }
}

body {
  background: $color-background;
  color: $color-foreground;
  font-family: $font-family;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 0;
  a {
    color: $color-foreground;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: $color-primary;
    text-decoration: underline;
  }
  * + & {
    margin-top: $spacing-large;
  }
}

h1, h2 {
  font-size: $font-size-large;
  @include onDesktop() {
    font-size: $font-size-larger;
  }
}

h3 {
  font-size: $font-size-normal;
}

h4 {
  font-size: $font-size-small;
  text-transform: uppercase;
}

h5 {
  font-size: $font-size-small;
}

p {
  max-width: $max-paragraph-line-width;
}

* + p {
  margin-top: $spacing-normal;
}

a {
  color: $color-primary;
  text-decoration: underline;
}

a:hover, a:focus {
  color: $color-foreground;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a img {
  width: 100%;
  height: auto;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}