input,
button,
select {
	font-size: $font-size-normal;
	font-family: $font-family;
}

input {
	border: 1px solid rgba($color-foreground, .5);
	padding: $spacing-small;
	font-size: $font-size-normal;
	font-family: $font-family-small;
	border-radius: 3px;
}

input:hover,
input:focus,
input:active {
	border-color: $color-foreground;
}

button {
	color: $color-background;
	padding: $spacing-small;
	background: $color-primary;
	border: 1px solid transparent;
	border-radius: 3px;
	font-weight: bold;
}

button:hover{
	cursor: pointer;
}

button:hover,
button:focus {
	background: $color-foreground;
}

input[type=hidden] {
	display: none;
}