.longForm {
	h2, h3, h4, h5, h6 {
		margin-bottom: $spacing-normal;
	}
	h2 {
		font-size: $font-size-large;
	}

	h3 {
		font-size: $font-size-normal;
	}

	h4, h5 {
		font-size: $font-size-normal;
		text-transform: uppercase;
	}

	h5 {
		font-size: $font-size-smaller;
	}
	hr {
		border: 0;
		border-bottom: 1px solid rgba($color-foreground, .15);
		margin: $spacing-larger 0;
		width: 50%;
	}
	a[name*="ref"] {
		color: $color-foreground;
		font-size: $font-size-smallest;
		text-decoration: none;
		display: inline-block;
		vertical-align: super;
	}
	a[href*="ref"][href*="#_"] {
		color: $color-foreground;
		font-weight: bold;
		display: inline-block;
		clear: left;
		margin-right: $spacing-small;
		text-decoration: none;
	}
	li {
		max-width: $max-paragraph-line-width;
	}
	iframe[src*="youtube"] {
		display: block;
		border: 0;
		width: 100%;
		height: auto;
		min-height: 600px;
		max-height: 90vh;
	}
}