@include onDesktop() {
  .grid {
    display: flex;
  }

  .w-1\/3 {
    width: 33.3%;
  }

  .w-2\/3 {
    width: 66.6%;
  }

  .w-1\/4 {
    width: 25%
  }

  .w-1\/2 {
    width: 50%
  }

  .w-3\/4 {
    width: 75%;
  }
}