.header {
	z-index: $layer-header;
	position: relative;
}

@include onMobile() {
	.header {
		background: $color-background;
		position: relative;
	}
}

.header .contentBlock {
	position: relative;
}

@include onDesktop() {
	.logo {
		position: absolute;
		top: 50%;
		left: $spacing-normal;
		transform: translateY(-50%);
	}
}

.header .contentBlock {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include onDesktop() {
		justify-content: flex-end;
	    align-items: flex-end;
	    flex-direction: column;
	    flex-wrap: nowrap;
    }
}