.pageTitle {
	margin-bottom: $spacing-normal;
	background: $color-primary;
	background: linear-gradient($color-primary, darken($color-primary, 15));
	color: $color-background;
	padding: $spacing-larger 0;
	text-shadow: 2px 2px 0 black, 2px 2px 5px rgba(black, .5);

	* {
		+ * {
			margin-top: $spacing-small;
		}
	}
	.author {
		margin-top: $spacing-large;
		font-weight: bold;
		font-size: $font-size-small;
	}
	h1 {
		font-size: $font-size-larger;
		a {
			color: $color-background;
			&:hover,
			&:active,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	h2 {
		font-size: $font-size-large;
		font-weight: normal;
	}
}