.pageTitle--subProject {
    padding-bottom: $spacing-normal;
}

.projectSubNavigation {
    margin: $spacing-normal -#{$spacing-normal} 0;
    font-size: $font-size-small;
    font-family: $font-family-small;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: $max-body-width;
    @include onDesktop() {
        margin: $spacing-normal 0 0;
    }
}

.projectSubNavigation a {
    color: $color-background;
    text-decoration: none;
    display: inline-block;
    background: $color-primary;
    padding: $spacing-small;
    border-radius: 3px;
    text-shadow: none;
    + a {
        margin-left: $spacing-small;
    }
    &:hover,
    &:focus,
    &:active {
        background: $color-background;
        color: $color-foreground;
    }
}